body {
    background-image: url('https://www.alcircle.com/img/covers/2020-12-10t132257z_75359618_rc2elj9xvj27_rtrmadp_3_malaysia-aluminium-factory-fire.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 36px;
  }
  
  header h1 {
    margin: 0;
  }
  
  header p {
    font-size: 18px;
    margin-bottom: 0;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  p {
    line-height: 1.5;
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  
  